<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect www to non-www
    RewriteCond %{HTTP_HOST} ^www\.vitavings\.com [NC]
    RewriteRule ^(.*)$ https://interiorclaw.in/$1 [L,R=301]

    # Force HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    


    #Default contact email
    SetEnv SERVER_ADMIN info@interiorclaw.in

    #Default charset
    AddDefaultCharset UTF-s

    # Redirect /contactus.html to /contactus
    RewriteRule ^contactus$ /contactus.html [L]

    # Redirect /services.html to /services
    RewriteRule ^services$ /services.html [L]

    # Redirect /aboutus.html to /aboutus
    RewriteRule ^about$ /aboutus.html [L]

    # Redirect /blogs.html to /blogs
    RewriteRule ^blogs$ /blogs.html [L]    

    # Redirect /home.html to /home
    RewriteRule ^home$ /index.html [L]

    # Redirect /home.html to /home
    RewriteRule ^gallery$ /gallery.html [L]

    # Redirect /home.html to /home
    RewriteRule ^quote$ /quote.html [L]

    # Remove file extension, e.g., /page.html to /page
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^\.]+)$ $1.html [NC,L]

    # Other rules and configurations can go here...

</IfModule>
